<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<body>

<ul>
    <a href="/">Main page</a>
</ul>

<div class="components-container">
    <div>
        <button class="black-button">Button</button>
    </div>
    <div>
        <button class="colored-button">Button</button>
    </div>
    <div class="tab" data-selected='true'>
        Tab
    </div>
    <div>
        <div class="search-container">
            <input class="search-input" type="text" placeholder="Search"/>
        </div>
    </div>
</div>
</body>
</html>
