<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<body>

<ul>
    <a href="/">Main page</a>
</ul>

<div class="components-container">
    Buttons
    <div>
        <button class="black-button">Button</button>
    </div>
    <div>
        <button class="colored-button">Button</button>
    </div>
    <div>
        Tab
    <div class="tab" data-selected='true'>
        Tab
    </div>
    </div>
    <div>
        Search input
        <div class="search-container">
            <label>
                <input class="search-input" type="text" placeholder="Search"/>
            </label>
        </div>
    </div>
    <div>
        Table
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>coin</th>
                    <th>TRADE</th>
                    <th>PRICE</th>
                    <th>ORDER</th>
                    <th>VOLUME</th>
                    <th>CHANGE</th>
                    <th>DYNAMIC</th>
                </tr>
                <tr>
                    <td>BITCOIN (BTC)</td>
                    <td>16932.00</td>
                    <td>38575.00</td>
                    <td>4.47K</td>
                    <td>0.258945 К</td>
                    <td>
                        <div class="percent-container">
                        <span class="rise">
                            2.0
                        </span>
                        </div>
                    </td>
                    <td>
                        <div class="table-chart-container">
                            <div class="chart-rise"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>BITCOIN (BTC)</td>
                    <td>16932.00</td>
                    <td>38575.00</td>
                    <td>4.47K</td>
                    <td>0.258945 К</td>
                    <td>
                        <div class="percent-container">
                        <span class="decrease">
                            3.7
                        </span>
                        </div>
                    </td>
                    <td>
                        <div class="table-chart-container">
                            <div class="chart-decrease" ></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
