.currency-container {
    display: grid;
    row-gap: 23px;
    place-content: flex-end;
    margin-top: 20px;
}

.currency-header {
    display: flex;
    justify-content: space-between;
}

.wallets-chart {
    width: fit-content;
    display: grid;
    row-gap: 14px;
}


.wallet-switcher-container {
    display: flex;
    column-gap: 8px;
}

.title-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .amount {
        font-size: 16px;
        color: var(--wallet-amount-color);
    }

    .chart-period {
        display: flex;
        column-gap: 8px;

        span {
            font-size: 14px;
            width: 44px;
            height: 36px;
            color: var(--chart-period-color);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &[data-selected='true'] {
                color: var(--text-color);
            }

            &:hover {
                color: var(--text-color);
            }
        }
    }
}

.wallets-side {
    width: 416px;
}

.wallets-page {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
