/* Variables */
:root {
    --wallets-background-color: #0A0E16;
    --black-button-color: #0A0E16;
    --table-header: #0A0E16;
    --table-text-color: #FFFFFF80;
    --table-hover-color: #171E2D;
    --colored-button-color: linear-gradient(123.32deg, #FF9500 51.94%, #F8359E 115.67%);
    --button-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    --secondary-color: #6c757d;
    --text-color: #FFF;
    --trade-header-shadow: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.3));
    --text-button: #FFF;
    --main-background-color: #111928;
    --input-background-color: #171F2F;
    --percent-rise-background-color: #ECFDF31A;
    --percent-rise-color: #12B76A;
    --percent-decrease-color: #F04438;
    --percent-decrease-background-color: #F044381A;
    --notification-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
    --notification-img-backgroud-color: linear-gradient(123.32deg, #FF9500 51.94%, #F8359E 115.67%);
    --notification-text-backgroud-color: #FFF;
    --notification-text-color: #667085;
    --notification-title-color: #101828;
    --wallet-border: 1px solid #1A2232;
    --wallet-text-color: #98A2B3;
    --wallet-amount-color: #667085;
}

* {
    box-sizing: border-box;
}

/* Base Styles */
body {
    background: var(--main-background-color);
    font-family: Inter, sans-serif;
    color: var(--text-color);

    a {
        color: var(--text-color);
        text-decoration: none;

        &::before {
            content: "Go to →";
        }
    }
}

input {
    color: var(--text-color);
    font-size: 14px;

    &::placeholder {
        color: var(--text-color);
    }
}

h1 {
    font-size: 30px;
}

button {
    cursor: pointer;
}
